@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 14px; 
  color: #46433e
}

body {
 
  -webkit-font-smoothing: auto;
  margin: 0;

}

img {
  display: block;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.blur-gradient-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 5;

  /* Apply the blur */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  /* Create a radial falloff for the blur */
  mask-image: radial-gradient(circle at center, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image: radial-gradient(circle at center, rgba(0,0,0,1), rgba(0,0,0,0));
}


h1 {
  font-size: 25px; /* Default size for small screens */

  font-weight: 500;

}


 h2 {
  font-size: larger;
 }
h4 {
  font-weight: bold;
}

