@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light only;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: white !important;
  color-scheme: light only;
}

body {
  background-color: white !important;
  color: black !important;
  /* Prevent any dark mode transitions */
  transition: none !important;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: white !important;
    color: black !important;
  }
}

html, body {
  font-size: 14px;
  font-family: var(--font-family-roboto);
  margin: 0;
}

body {
  @apply !bg-white !text-black dark:!bg-white  dark:!text-black;
}

img {
  display: block;
}

.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.portable-text p {
  margin-bottom: 1em;
}

 .scrollbar-hide::-webkit-scrollbar {
          display: none;
        }